body{background-color: #ECF3FD;}
.container{width:350px; margin-left: auto; margin-right: auto; margin-top: 8%;
font-size: 14px;}
.ui-state-default .incon-login{background-image: url(../images/icons/login.png)}

