<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../template.xhtml">


            <ui:define name="content">
                <div id="listausuarios">
                <p:growl id="msgs" showDetail="true" />
                <h:form id="formDataTable">


                    <p:dataTable id="basicDT" var="usuario" value="#{usuarioBean.usuarios}">
                        <f:facet name="header">
                            Usuários
                        </f:facet>
                        <p:column headerText="Id">
                            <h:outputText value="#{usuario.id}" />
                        </p:column>
                        <p:column headerText="Usuário">
                            <h:outputText value="#{usuario.usuario}" />
                        </p:column>
                        <p:column headerText="Senha">
                            <h:outputText value="#{usuario.senha}" />
                        </p:column>

                        <p:column style="width:32px;text-align: center">
                            <p:commandButton update=":formUpdate" oncomplete="PF('dialogUsuario').show()" icon="ui-icon-search" title="Usuários">
                                <f:setPropertyActionListener value="#{usuario}" target="#{usuarioBean.selectedUsuario}" />
                            </p:commandButton>
                        </p:column>
                    </p:dataTable>
                </h:form>
                <h:form id="formUpdate">
                <p:dialog header="Alterar" widgetVar="dialogUsuario" modal="true" showEffect="explode" 
                          hideEffect="explode" resizable="false" id="dlgUsuario" >
                    <h:panelGrid  columns="2" id="display" cellpadding="4" style="margin:0 auto;" >

                            <h:outputText value="Id:" />
                            <h:inputText value="#{usuarioBean.selectedUsuario.id}" />

                            <h:outputText value="Usuário:" />
                            <h:inputText value="#{usuarioBean.selectedUsuario.usuario}" />

                            <h:outputText value="Senha:" />
                            <h:inputText value="#{usuarioBean.selectedUsuario.senha}" />

                        </h:panelGrid>
                </p:dialog>
                </h:form>
                </div>
            </ui:define>

        </ui:composition>

    </body>
</html>
