<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="./css/default.css"/>
        <h:outputStylesheet name="./css/cssLayout.css"/>
        <title>GED</title>
    </h:head>

    <h:body>
        <div id="container">

        <div id="top" class="ui-widget-header ui-corner-all">
            <ui:insert name="top">Top</ui:insert>
        </div>
        <div id="menu">
            <h:form> 
                <p:growl id="messages"/>

                <p:menubar>
                    <p:submenu label="Documentos" icon="ui-icon-document">
                        <p:submenu label="Novo" icon="ui-icon-contact">
                            <p:menuitem value="Adcionar Novo..." url="#" />
                            <p:menuitem value="Importar de URL" url="#" />
                        </p:submenu>
                        <p:menuitem value="Meus Documentos" url="#" />
                        <p:separator />
                        <p:menuitem value="Sair" url="#" />
                    </p:submenu>

                    <p:submenu label="Scanner" icon="ui-icon-pencil">
                        <p:menuitem value="Digitalizar" url="#" icon="ui-icon-arrowreturnthick-1-w" />
                    </p:submenu>

                    

                    <p:submenu label="Configurações" icon="ui-icon-gear">
                        <p:submenu label="Usuários" icon="ui-icon-refresh">
                            <p:menuitem value="Adcionar" actionListener="#{menuView.save}" icon="ui-icon-disk" />
                            <p:menuitem value="Lista" url="#{appBean.basePath}usuario/inicio.xhtml" icon="ui-icon-arrowrefresh-1-w" />
                        </p:submenu>
                        <p:submenu label="Propriedades" icon="ui-icon-newwin">
                            <p:menuitem value="Parâmetros" actionListener="#{menuView.delete}" icon="ui-icon-close" ajax="false"/>
                        </p:submenu>
                    </p:submenu>

                    <p:menuitem value="Sair" actionListener="#{loginBean.logout}" 
                                icon="ui-icon-close" oncomplete="handleLoginRequest(xhr, status, args)" />
                </p:menubar>
            </h:form>

        </div>

        <div id="content" class="center_content">
            <ui:insert name="content">Conteúdo</ui:insert>
        </div>

        <div id="bottom" class="ui-widget-header ui-corner-all">
            <ui:insert name="bottom">&copy; Promáxima 2014</ui:insert>
        </div>
    </div>     
        
        <script type="text/javascript">
            function handleLoginRequest(xhr, status, args){
                if(args.loggetOut){
                    jQuery('#formLogin').effect("shake", { times:3 }, 100);
                }else{
                    location.href = args.rota;
                }
            }
        </script>

    </h:body>

</html>
